@charset "utf-8";

@import "setting"; //設定用
@import "mixin"; //Mixin

//Columns
$column-width: 60px;    // 12 columns = 720px
$gutter-width: 20px;    // 11 gutters = 220px

body {
	padding: 60px;
}

.container {
  @include clearfix;
  @include grid-unit(12);
  float: none;
  margin: 0 auto;
}

.main-content {
  @include grid-unit(8);
}

.sidebar {
  @include grid-unit(4);
  margin-right: 0;
}


/* !Achievement */
#achievement_list {



}