@charset "utf-8";

@import "core"; //read All SCSS

@include reset-style;

body {
	padding: 60px;
}

.container-fluid {
  @include clearfix;
  float: none;
  margin: 0 auto;
}
#main-content {
	min-height: 600px;
}

.sidebar {
  @include grid-unit(4);
  margin-right: 0;
}


/* !Achievement */
#achievement_list {



}